@model OnlineTheater.Models.Play

@{
    ViewBag.Title = "Details";
}

<div class="container" style="padding:30px 0px 15px 0px; font-size:medium">
    <h2>Details</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PlayName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlayName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Language)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Language)
            </dd>

        </dl>
    </div>
    <p>
        @if (!User.IsInRole("User"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.PlayId }, new { @class = "btn btn-primary" })
        }
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>

</div>
