@model OnlineTheater.Models.Theatre

@{
    ViewBag.Title = "Details";
}

<div class="container" style="padding:30px 0px 15px 0px">
    <h3>Details about the following theatre: </h3>
    <hr />
    <dl class="dl-horizontal" style="font-size:medium">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @if (!User.IsInRole("User"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.TheatreId }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
